[submodule "third_party/LIBERO"]
	path = third_party/LIBERO
	url = https://github.com/Lifelong-Robot-Learning/LIBERO.git
[submodule "third_party/LIBERO-plus"]
	path = third_party/LIBERO-plus
	url = https://github.com/sylvestf/LIBERO-plus.git
[submodule "third_party/VLABench"]
	path = third_party/VLABench
	url = https://github.com/OpenMOSS/VLABench.git
